<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>John Egan | Sandbox</title>

    <meta name="description" content="" />
    <meta name="author" content="John Egan" />
    <meta name="copyright" content="2018"/>

    <meta property='og:title' content="Sandbox | John Egan"/>
    <meta property='og:image' content=""/>
    <meta property='og:description' content=""/>
    <meta property='og:url' content="" />


    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />

</head>
